[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 14.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "acsone/acsone-addons"]
	path = acsone/acsone-addons
	url = git@github.com:acsone/acsone-addons.git
	branch = 14.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "Comunitea/purchase-workflow"]
	path = Comunitea/purchase-workflow
	url = git@github.com:Comunitea/purchase-workflow.git
	branch = 14.0-purchase_global_discount

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 14.0

[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 14.0
